<div class="wrapper-addPhoto"
  [ngStyle]="{display: !isShowModal ? 'none' : 'block'}"
>
  <div class="container">
    <div class="container__addPhoto">
      <div class="block-title">
        <h2>{{title | titlecase | uppercase}}</h2>
        <button type="button" class="btn btn-dark"
        (click)="onClose()"
        >X</button>
      </div>
      <div class="massage">
        <p>{{massage | titlecase | uppercase}}</p>
      </div>
      <div class="status-download">
        <div class="progress-bars" *ngIf="isShowBar; else Error">
          <p><ngb-progressbar type="dark" textType="white" [value]="isValue" [showValue]="true"></ngb-progressbar></p>
        </div>
        <ng-template #Error>
          <div class="error-type">
            <p class="error-type__massage">{{ShowError  | titlecase | uppercase}}</p>
          </div>
        </ng-template>
      </div>
      <div class="btn-block">
        <div class="btn-block__wrapper">
          <label class="label">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
              [ngStyle]="{display: !isSpinner ? 'none' : 'block'}"
            ></span>
            <span class="label__title">Change photo</span>
            <input type="file" class="input_file" name="fileList"
            (change)="onFileSelected($event)" #fileUpload
            >
          </label>
        </div>
    </div>
  </div>
</div>
