.wrapper-addPhoto{
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  --bg-opacity: 0.75;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 100;

  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__addPhoto {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 598px;
      height: 314px;
      background-color: white;
      border-radius: 15px;
      margin: 0 auto;

      .block-title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        width: 590px;
        margin: 0 auto;
        border-bottom: 1px solid black;
        padding: 12px;

        h2 {
          color: #0d6efd;
          width: 375px;
          margin-left: 94px;
          font-size: 25px !important;
        }

        .btn-dark {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .massage {
        width: 590px;
        margin: 0 auto;
        border-bottom: 1px solid black;

        p {
          font-size: 22px;
          text-align: center;
          font-weight: bold;
        }
      }

      .status-download {
        display: flex;
        margin: 0 auto;
        width: 570px;
        height: 104px;

        .progress-bars {
          width: 570px;
          margin: 0 auto;
          margin-top: 38px;
        }

        .error-type {
          width: 376px;
          margin: 0 auto;

          &__massage {
            font-size: 20px;
            color: red;
            text-align: center;
            font-weight: bold;
          }
        }
      }

      .btn-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 587px;
        // margin-top: 63px;

        &__wrapper {
          margin-left: auto;

          .label {
            position: relative;
            width: 150px;
            height: 38px;
            background: #333333;
            color: #fff;
            border-radius: 5px;
            display: flex;
            transition: border 300ms ease;
            cursor: pointer;

            .spinner-grow {
              display: none;
              position: absolute;
              left: 6px;
              top: 11px;
            }

            &__title {
              color: #fff;
              margin: 0 auto;
              margin-top: 7px;
              font-weight: bold;
            }
          }

          .label:hover {
            opacity: 0.8;
          }

          input[type=file] {
            display: none;
            outline: 0;
            opacity: 0;
            pointer-events: none;
            user-select: none
          }
        }
      }

    }
  }
}
