<div class="table-container">
  <app-modal-delete [deleteItem]="isDelete" (activeDelete)="onSetValue($event)"></app-modal-delete>
  <table>
    <tr *ngFor="let item of items">
      <td>
        <button class="btn btn-dark" (click)="removeEl(item)">X</button>
      </td>
        <td>
          <img class="product-photo" [src]="item.photo" >
        </td>
        <td>
          <p class="title">{{item.product}}</p>
        </td>
        <td>
          <button  class="btn btn-dark" (click)="decrease(item, item.count)">-</button>
        </td>
        <td #getCount>
          <p >{{item.count}}</p>
        </td>
        <td>
          <button class="btn btn-dark" (click)="increase(item, item.count)">+</button>
        </td>
        <td>
          <p>{{countCarts | countProduct: item.cost : item.count| currency}}</p>
        </td>
    </tr>
    <tr>
      <td colspan="7" >
        <div class="block-up_date">
          <div class="total-price">TOTAL PRICE :{{price | currency}}</div>
          <div>
            <button type="button" class="btn btn-dark"
              (click)="onUpDateCart()"
            >UP DATE</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <app-notifications></app-notifications>
</div>
