.spinner {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  --bg-opacity: 0.75;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 100;

  .spinner-block {
    position: absolute;
    left: 46%;
    top: 50%;
    // margin: 0 auto;
  }

  .spinner-border {
    color: red !important;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

@media(max-width: 768px) {
  .spinner {

    .spinner-border {
      width: 50px;
      height: 50px;
    }
  }
}

@media(max-width: 448px) {
  .spinner {

    .spinner-block {
      left: 45%;
      top: 50%;

      .spinner-border {
        width: 30px;
        height: 30px;
      }
    }
  }
}
