.wrapper-modal {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  --bg-opacity: 0.75;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 100;

  .modal-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .container-modal {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      width: 298px;
      height: 387px;
      border-radius: 3px;
      background-color: #fff;

      .information {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 4px;
        width: 276px;
        height: 195px;

        &__frame {
          display: block;
          width: 142px;
          height: 184px;

          img {
            width: 128px;
          }
        }

        &__title {
          height: 183px;
          width: 120px;
          font-weight: bold;
        }
      }

      .additional {
        width: 133px;
        height: 70px;
        margin-left: 153px;

        &__cost {
          text-align: start;
          font-weight: bold;
        }
      }

      .block_btns {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 276px;
        height: 104px;
        margin: 0 auto;
      }
    }
  }
}
