.wrapper-modal {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  --bg-opacity: 0.75;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 100;

  .modal-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .container-modal {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      width: 298px;
      height: 387px;
      border-radius: 3px;
      background-color: #fff;

      .information {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 4px;
        width: 276px;
        height: 195px;

        &__frame {
          display: block;
          width: 142px;
          height: 184px;

          img {
            width: 113px;
          }
        }

        &__title {
          height: 183px;
          width: 120px;
          font-weight: bold;
        }
      }

      .additional {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 70px;

        &__btns {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 50%;
          // border: 1px solid black;

            .count-items {
              position: relative;
              width: 100px;
              height: 25px;
              border-radius: 50px;
              text-align: center;
              color: red;
              background-color: #FFEDED;

              .decrease {
                position: absolute;
                left: 1px;
                width: 25px;
                height: 25px;
              }

              .increase-btn {
                position: absolute;
                right: 1px;
                width: 25px;
                height: 25px;
              }
            }
        }

        &__cost {
          width: 50%;
          // text-align: start;
          // font-weight: 500;
          .price {
            font-weight: 500;
          }
        }

      }

      .block_btns {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 276px;
        height: 104px;
        margin: 0 auto;
      }
    }
  }
}
