<nav class="header">
  <div class="header__menu">
    <a routerLink="/" class="link-home">Home page</a>
    <a routerLink="cart" class="link-cart">in cart</a>
    <a routerLink="sign-in">sing in</a>
    <a routerLink="sign-up">sing up</a>
    <a (click)="onAccount()">account</a>
    <a routerLink="/" (click)="onOut()">Log out</a>
  </div>
  <div class="header__count">
    <div class="container-number">
      <span  class="number">{{countCart}}</span>
    </div>
    <img class="cart" src="../../../assets/basket3-fill (1).svg">
  </div>
</nav>
<router-outlet></router-outlet>
<app-registration></app-registration>
