<app-modal-items [isModal]="isOpen" [isItem]="isItem" [date]="onSetDateModal(item, false)"></app-modal-items>
<div class="wrapper">
  <div class="wrapper__container">
    <div class="block-photo">
      <div class="block-photo__frame">
        <img [src]="item?.photo">
        <div class="price">{{item?.cost | currency}}</div>
      </div>
      <div class="block-btns">
        <button type="button" class="btn btn-dark"
        (click)=" addToCart()"
        >
        <span *ngIf="isSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        {{title_btn_add}}
        </button>
        <button type="button" class="btn btn-dark">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          ADD TO WISH LIST
        </button>
      </div>
    </div>
    <div class="information">
      <h1>{{item?.product | titlecase }}</h1>
      <p>{{item?.description}}</p>
      <p>{{item?.recommendations}}</p>
      <div (click)="onOpen()"
        [ngStyle]="{display: isCheckStory ? 'none' : 'block'}"
        >{{ChangeStr}}</div>
      <div *ngIf="isFlag" class="information__strory">
        <p>{{item?.story}}</p>
      </div>
    </div>
  </div>
  <div class="container-todo">
    <app-create-todo-component></app-create-todo-component>
  </div>
</div>
