<app-search-product (sendProduct)="filter($event)"></app-search-product>
<app-modal-items [isModal]="isOpen" [isItem]="isItem"></app-modal-items>
<app-modal-delete [deleteItem]="isDelete" (activeDelete)="onSetValue($event)"></app-modal-delete>
<div class="container" *ngFor="let item of items; let i = index ">
  <div class="block-photo">
    <p class="block-photo__product">{{item.product}}</p>
    <img class="block-photo__photo" [src]="item.photo" >
    <p class="block-photo__author">{{item.author}}</p>
  </div>
  <div class="addToCart">
    <button class="btn btn-success" (click)="addCart(item)">
      {{btn_status | status: item}}
    </button>
    <button class="btn btn-danger" (click)="deleteItem(item)"
      [ngStyle]="{display: !item.exist ? 'none' : 'block'}"
    >CANCEL</button>
    <span class="cost">{{item.cost | currency}}</span>
  </div>
</div>
