<app-modal-delete></app-modal-delete>
<app-modal-add-photo
  [isShowModal]="isModal"
  (isHiddenModal)="onHiddenModal($event)"
></app-modal-add-photo>
<div class="account">
  <div class="account__block-photo" isDisplay>
    <img [src]="avatar">
    <div class="delete" (click)="onRemovePhoto()">
      <samp class="delete__btn">x</samp>
    </div>
    <ul class="menu-photo" (click)="onAddPhoto()">
      <li>Add photo</li>
    </ul>
    <div class="menu-photo"></div>
    <div class="block-btn">
      <button type="button" class="btn btn-primary"
      (click)="goToProfile()"
      >Edit Profile</button>
    </div>
  </div>
  <div class="account__information">
    <h2 class="fullName" *ngIf="!isProfile">{{fullName| titlecase}}</h2>
    <div class="additional-information">
      <ul *ngIf="!isProfile else profile">
        <li>
          <strong>birth:</strong>
           {{birth | date}}
        </li>
        <li>
          <strong>email:</strong>
          {{email}}
        </li>
        <li>
          <strong>date of registration:</strong>
          {{date | date}}
        </li>
        <li>
          <strong>country:</strong>
          {{country}}
        </li>
        <li>
          <strong>city:</strong>
          {{city}}
        </li>
        <li>
          <strong>address:</strong>
          {{address}}
        </li>
      </ul>
      <ng-template #profile>
        <app-profile (isHiddenProfile)="onShowAccount($event)"></app-profile>
      </ng-template>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
