.container-sign-up {
  background-color: #e1e1e3;
  width: 1268px;
  height: 900px;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 562px;
    height: 800px;
    box-sizing: border-box;
    margin: 0 auto;


    .form {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 0.3rem;
      width: 562px;
      margin: 0 auto;
      margin-top: 59px;
      border: 1px solid;

      H1 {
        margin-left: 44px;
      }

      .form-group {
        width: 100%;
        height: 74px;
        position: relative;

        input {
          width: 445px;
          height: 50px;
          margin-left: 45px;
          background-color: #333;
          border: none;
          border-radius: .3rem;
          outline: none;
          color: #fff;
          padding: 16px 20px 0;
          font-size: 1rem;

          &.ng-invalid.ng-touched {
            background-color: #333;
          }

          &.ng-valid.ng-touched {
            background-color: rgb(232, 240, 254);
            color: black;
          }
        }

        label {
          position: absolute;
          top: 5px;
          color: #8c8c8c;
          font-size: 12px;
          left: 65px;
        }

        .validation {
          position: relative;

          .invalid-input-message {
            color: red;
            margin-left: 51px;
          }
        }

        .valid-input-message {
            color: green;
            margin-left: 51px;
        }
      }

      .btn-sign-up {
        width: 444px;
        height: 50px;
        font-size: 15px;
        margin-left: 45px;
        background-color: #e50914;
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;

        &:disabled {
          background: #ccc;
          color: #000;
          cursor: not-allowed;
        }
      }

      ul {
        margin-top: 15px;

        li {
          list-style-type: none;

          a {
            margin-left: 16px;
            cursor: pointer;
          }
        }
      }

    }
  }
}

