<div class="todo-list">
  <div class="todo-list__avatar">
    <img class="photo" [src]="dateComments.photoUrl">
    <div>{{isFullName}}</div>
  </div>
  <div class="todo-list__information" >
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
      [ngStyle]="{border: isInput ? 'none' : '1px solid'}"
      [disabled]="isInput"
      [(ngModel)]="dateComments.comment"
    >
    </textarea>
    <div class="block-btns" *ngIf="isCheck">
      <div class="block-btns__menu" [appStyleColor]="isColor">
        <div class="btn-like">
          <button mat-mini-fab color="accent"
            (click)="onAddLike(dateComments)">
            <mat-icon class="like-incon">favorite</mat-icon>
          </button>
          <span class="count-likes"
          >{{likesCount}}</span>
        </div>
        <button class="edit" (click)="isInput = !isInput;" *ngIf="isEdit">
          <i class="bi bi-pen-fill"></i>
        </button>
        <button type="button" class="btn btn-outline-dark">
          <i class="bi bi-chat-left"></i>
        </button>
      </div>
      <div class="btn-block-delete" *ngIf="isEdit">
        <button type="button" class="btn btn-primary" *ngIf="!isInput"
        (click)="onChangeComment(dateComments)"
      >
        <i class="bi bi-send-plus"></i>Send
      </button>
      <button type="button" class="btn btn-primary" *ngIf="isInput"
        (click)="onRemoveTodo(dateComments.item_id)"
      >
        <i class="bi bi-x-square-fill"></i>{{isBtn}}
      </button>
    </div>
      </div>
  </div>
</div>
<!-- [ngStyle]="{'background-color': isColor ? '#FFEDED' : '#80808040'}" -->
<!-- [ngStyle]="{'background-color': isColor ? '#ff4081' : 'gray'}" -->
<!-- [ngStyle]="{'color': isColor ? 'red' : 'black'}" -->
