.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 486px;
  height: 367px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 352px;

    .block-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 376px;
      margin: 0 auto;

      .block-title {
        margin-top: 7px;
        font-weight: bold;
      }

      .input-block {
        width: 272px;
      }
    }

    .block-BtnSubmit {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin: 0 auto;
      width: 377px;
      margin-top: 24px;
    }
  }

}
