.container-input {
  display: flex;
  justify-content: center;
  width: 1268px;
  border-bottom: 1px solid black;
  height: 50px;
  margin-top: 60px;

  .input-group {
    display: flex;
    position: relative;
    width: 468px;
    align-items: center;
  }
  .btn-primary {
    border-radius: 0;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
  }


  label {
    position: absolute;
    left: 17px;
    bottom: 0;
    font-size: 15px;
  }
}

.category {
  display: flex;
  justify-content: center;
  width: 1268px;
  height: 45px;
  border-bottom: 1px solid black;
  align-items: center;

  a {
    margin: 10px;
    font-weight: 800;
    cursor: pointer;
  }

  a:hover {
   text-decoration: underline;
  }
}
