.container-search {
  display: flex;
  justify-content: center;
  width: 1268px;
  border-bottom: 1px solid black;
  height: 45px;
  align-items: center;
  margin-top: 50px;

  .search-items {
    width: 280px;
    height: 33px;
    border: 4px solid;
  }

  .btn-dark {
    width: 73px;
    height: 33px;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    margin: 2px;
  }
}

.category {
  display: flex;
  justify-content: center;
  width: 1268px;
  height: 45px;
  border-bottom: 1px solid black;
  align-items: center;

  a {
    margin: 10px;
    cursor: pointer;
  }

  a:hover {
   text-decoration: underline;
  }
}
