.container-input {
  display: flex;
  justify-content: center;
  width: 1268px;
  border-bottom: 1px solid black;
  height: 50px;
  margin-top: 60px;

  .input-group {
    display: flex;
    width: 468px;
    align-items: center;
  }
}


.category {
  display: flex;
  justify-content: center;
  width: 1268px;
  height: 45px;
  border-bottom: 1px solid black;
  align-items: center;

  a {
    margin: 10px;
    font-weight: 800;
    cursor: pointer;
  }

  a:hover {
   text-decoration: underline;
  }
}
